// Rem Calc
@function remCalc($size) {
  $value: $size / 16;
  @return #{$value}rem;
}

// Flex Center
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Flex Modular
@mixin flexModular($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
