// Colors
$primaryColor: #36314f;
$secondaryColor: #faa34a;
$lightPrimary: #855b80;
$darkPrimary: #291736;
$lightSecondary: #e8b056;
$white: white;
$dark: black;

// Fonts Family
$textFontFamily: "Open Sans", sans-serif;
$titleFontFamily: "Passion One", cursive;
