// Colors
$bgPrimary: #e94444;
$primaryColor: #36314f;
$secondaryColor: #faa34a;
$lightPrimary: #855b80;
$darkPrimary: #291736;
$lightSecondary: #ffe5b6;
$white: #ffffff;
$dark: black;

// Fonts Family
$textFontFamily: "Open Sans", sans-serif;
$titleFontFamily: "Passion One", cursive;

// Font size
$h1Size: 56;
$h1Weight: 700;
$h1LineHeight: 36;

$h2Size: 24;
$h2Weight: 700;
$h2LineHeight: 23;

$pSize: 16;
$pWeight: 400;
$pLineHeight: 26;

$btnLgSize: 24;
$btnLgWeight: 400;
$btnLgLineHeight: 48;

$btnSmSize: 18;
$btnSmWeight: 400;
$btnSmLineHeight: 36;
