// Imports
@import "./variables";
@import "./functions";
@import "./reset";

// Default
body {
  font-family: $textFontFamily;

  background: $darkPrimary;
}

// Buttons
.btn-lg,
.btn-sm {
  background: $secondaryColor;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  font-family: $titleFontFamily;

  clip-path: polygon(
    0 3%,
    0 33%,
    1.5% 45%,
    2% 99%,
    53% 97%,
    100% 100%,
    99.5% 70%,
    98% 44%,
    99% 1%,
    65% 3%,
    36% 1%
  );

  -webkit-clip-path: polygon(
    0 3%,
    0 33%,
    1.5% 45%,
    2% 99%,
    53% 97%,
    100% 100%,
    99.5% 70%,
    98% 44%,
    99% 1%,
    65% 3%,
    36% 1%
  );

  transition: all 0.2s ease;

  &:hover {
    background: $lightSecondary;
    transform: translateY(remCalc(-5));
  }
}

.btn-lg {
  font-size: remCalc($btnLgSize);
  font-weight: remCalc($btnLgWeight);
  line-height: remCalc($btnLgLineHeight);
  display: block;

  max-width: remCalc(290);
  width: 100%;
}

.btn-sm {
  font-size: remCalc($btnSmSize);
  font-weight: remCalc($btnSmWeight);
  line-height: remCalc($btnSmLineHeight);

  display: inline-block;
  min-width: remCalc(130);
}

.btn-secondaryColor {
  background: $primaryColor;
}

// Title Font
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $titleFontFamily;
}

// Header
.menu-header {
  // Default
  @include flexModular(space-between, center);
  position: fixed;
  width: 100%;

  z-index: 100;

  padding: remCalc(20) 0;

  background: $primaryColor;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

  border-radius: 0 0 25px 25px;

  border-bottom: 1px solid $lightPrimary;

  // Logo
  .logo {
    display: block;
    width: remCalc(180);
    margin-left: remCalc(60);

    transition: all 0.2s ease;

    &:hover {
      transform: translateY(remCalc(-3));
    }
  }

  // Navbar
  nav ul {
    @include flexModular(space-between, center);

    li {
      margin: 0 remCalc(10);
      padding: remCalc(10);
    }

    a {
      color: $white;

      font-family: $titleFontFamily;
      font-size: remCalc($h2Size);
      font-weight: remCalc($h2Weight);

      text-transform: uppercase;

      letter-spacing: remCalc(0.3);

      transition: all 0.2s ease;

      &:hover {
        color: $secondaryColor;
        transform: translateY(remCalc(-2));
      }
    }
  }

  // Buy Btn
  .buy {
    margin-right: remCalc(60);
  }
}

// Main
main {
  max-width: remCalc(1200);
  margin: 0 auto;
  position: relative;
}
