/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #e94444;
}

.btn-lg,
.btn-sm {
  background: #faa34a;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-family: "Passion One", cursive;
  clip-path: polygon(0 3%, 0 33%, 1.5% 45%, 2% 99%, 53% 97%, 100% 100%, 99.5% 70%, 98% 44%, 99% 1%, 65% 3%, 36% 1%);
  -webkit-clip-path: polygon(0 3%, 0 33%, 1.5% 45%, 2% 99%, 53% 97%, 100% 100%, 99.5% 70%, 98% 44%, 99% 1%, 65% 3%, 36% 1%);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn-lg:hover,
.btn-sm:hover {
  background: #e94444;
  -webkit-transform: translateY(-0.3125rem);
          transform: translateY(-0.3125rem);
}

.btn-lg {
  font-size: 1.5rem;
  font-weight: 25rem;
  line-height: 3rem;
  display: block;
  max-width: 18.125rem;
  width: 100%;
}

.btn-sm {
  font-size: 1.125rem;
  font-weight: 25rem;
  line-height: 2.25rem;
  display: inline-block;
  min-width: 8.125rem;
}

.btn-secondaryColor {
  background: #36314f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Passion One", cursive;
  color: #faa34a;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: 0.0125rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  font-weight: 7 700;
  line-height: 1.4375rem;
  letter-spacing: 0.0125rem;
  text-transform: uppercase;
}

.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 0.9375rem 0;
  background-image: url(../assets/header.png);
  background-size: cover;
  background-repeat: repeat-x;
  -webkit-filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.25));
}

.menu-header .logo {
  display: block;
  max-width: 12.5rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin-left: 1.875rem;
  position: relative;
}

.menu-header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-header nav ul a {
  margin: 0 0.625rem;
  padding: 0.3125rem;
  color: #ffffff;
  font-family: "Passion One", cursive;
  font-size: 1.5rem;
  font-weight: 43.75rem;
  text-transform: uppercase;
  letter-spacing: 0.01875rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.menu-header nav ul a:hover {
  color: #36314f;
  -webkit-transform: translateY(-0.125rem);
          transform: translateY(-0.125rem);
}

.menu-header .buy {
  margin-right: 1.875rem;
  background: #36314f;
  color: #ffffff;
}

main {
  max-width: 75rem;
  margin: 0 auto;
  position: relative;
  top: 7.5rem;
}

.tempedia {
  padding: 3.75rem 1.25rem;
  clip-path: polygon(0 3%, 0 33%, 1.5% 45%, 2% 99%, 53% 97%, 100% 100%, 99.5% 70%, 98% 44%, 99% 1%, 65% 3%, 36% 1%);
  -webkit-clip-path: polygon(0 18%, 0 33%, 2.5% 45%, 2% 99%, 53% 97%, 100% 100%, 99.5% 70%, 98% 44%, 99% 1%, 65% 3%, 36% 1%);
}

.tempedia h1 {
  color: #ffffff;
  text-align: center;
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.tempedia p {
  font-size: 1rem;
  color: #faa34a;
  font-weight: 700;
  text-align: center;
  margin-top: 0.625rem;
  text-transform: uppercase;
}

.tempedia .tempedia-container {
  position: relative;
  height: 50rem;
  background-color: #ffe5b6;
  margin-top: 2rem;
}

.tempedia .tempedia-container p {
  text-transform: none;
  color: #e94444;
}

.tempedia .tempedia-container .img-bottom {
  position: absolute;
  z-index: 3;
  bottom: -1.875rem;
  right: -0.625rem;
}

.tempedia .tempedia-container .tempedia-text {
  margin-top: 10rem;
  padding: 3rem;
  display: block;
  position: absolute;
  margin: 0 auto;
  top: 35%;
  right: 100%;
  width: 90%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.tempedia .tempedia-container .tempedia-text.active {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  right: 0;
}

.tempedia .tempedia-container form {
  text-align: center;
  padding-top: 2rem;
}

.tempedia .tempedia-container form input {
  display: inline-block;
  margin: 0.625rem auto;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #36314f;
  outline: none;
  border: solid 3px transparent;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.tempedia .tempedia-container form input:focus {
  border: solid 3px #faa34a;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.tempedia .tempedia-container form label {
  display: block;
  font-family: "Passion One", cursive;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #faa34a;
}

.tempedia .tempedia-container form .btn-sm {
  background: #faa34a;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 0.3125rem;
}

.tempedia .tempedia-container .temtem-card {
  margin: 2rem 3rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateX(-30rem);
          transform: translateX(-30rem);
}

.tempedia .tempedia-container .temtem-card.active {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.tempedia .tempedia-container .temtem-card .temtem-portrait {
  background: url(../assets/Temtem_portrait_background.png) no-repeat 100%/100%;
  width: 15.625rem;
  height: 15.625rem;
  text-align: center;
  position: relative;
}

.tempedia .tempedia-container .temtem-card .temtem-portrait:before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: url(../assets/Temtem_portrait_border.png) no-repeat;
  pointer-events: none;
  z-index: 5;
}

.tempedia .tempedia-container .temtem-card .temtem-portrait img {
  width: 250px;
  height: 250px;
  -webkit-filter: drop-shadow(0 0 2px black);
          filter: drop-shadow(0 0 2px black);
  -webkit-clip-path: polygon(51% 5%, 88% 28%, 89% 73%, 50% 92%, 14% 72%, 12% 29%);
  clip-path: polygon(51% 5%, 88% 28%, 89% 73%, 50% 92%, 14% 72%, 12% 29%);
}

.tempedia .tempedia-container .temtem-card .temtem-portrait h2 {
  background: #e94444;
  max-width: 100%;
  width: 250px;
  margin: 0 auto;
  padding: 1rem 0.3rem;
  color: #ffffff;
  clip-path: polygon(0 3%, 0 33%, 1.5% 45%, 2% 99%, 53% 97%, 100% 100%, 99.5% 70%, 98% 44%, 99% 1%, 65% 3%, 36% 1%);
  -webkit-clip-path: polygon(0 3%, 0 33%, 1.5% 45%, 2% 99%, 53% 97%, 100% 100%, 99.5% 70%, 98% 44%, 99% 1%, 65% 3%, 36% 1%);
}
/*# sourceMappingURL=styles.css.map */