// Imports
@import "./variables";
@import "./functions";
@import "./reset";

// Default
body {
  font-family: $textFontFamily;

  background: $bgPrimary;
}

// Buttons
.btn-lg,
.btn-sm {
  background: $secondaryColor;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  font-family: $titleFontFamily;

  clip-path: polygon(
    0 3%,
    0 33%,
    1.5% 45%,
    2% 99%,
    53% 97%,
    100% 100%,
    99.5% 70%,
    98% 44%,
    99% 1%,
    65% 3%,
    36% 1%
  );

  -webkit-clip-path: polygon(
    0 3%,
    0 33%,
    1.5% 45%,
    2% 99%,
    53% 97%,
    100% 100%,
    99.5% 70%,
    98% 44%,
    99% 1%,
    65% 3%,
    36% 1%
  );

  transition: all 0.2s ease;

  &:hover {
    background: $bgPrimary;
    transform: translateY(remCalc(-5));
  }
}

.btn-lg {
  font-size: remCalc($btnLgSize);
  font-weight: remCalc($btnLgWeight);
  line-height: remCalc($btnLgLineHeight);
  display: block;

  max-width: remCalc(290);
  width: 100%;
}

.btn-sm {
  font-size: remCalc($btnSmSize);
  font-weight: remCalc($btnSmWeight);
  line-height: remCalc($btnSmLineHeight);

  display: inline-block;
  min-width: remCalc(130);
}

.btn-secondaryColor {
  background: $primaryColor;
}

// Title Font
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $titleFontFamily;
  color: $secondaryColor;
}

h1 {
  font-size: remCalc($h1Size);
  font-weight: $h2Weight;
  line-height: remCalc($h1LineHeight);
  letter-spacing: remCalc(0.2);
  text-transform: uppercase;
}

h2 {
  font-size: remCalc($h2Size);
  font-weight: 7$h2Weight;
  line-height: remCalc($h2LineHeight);
  letter-spacing: remCalc(0.2);
  text-transform: uppercase;
}

// Header
.menu-header {
  // Default
  @include flexModular(space-between, center);
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: remCalc(15) 0;

  background-image: url(../assets/header.png);
  background-size: cover;
  background-repeat: repeat-x;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.25));

  // Logo
  .logo {
    display: block;

    max-width: remCalc(200);

    transition: all 0.2s ease;

    margin-left: remCalc(30);

    position: relative;
  }

  nav {
    display: flex;
    align-items: center;
  }

  // Navbar
  nav ul {
    display: flex;
    align-items: center;

    a {
      margin: 0 remCalc(10);
      padding: remCalc(5);

      color: $white;

      font-family: $titleFontFamily;
      font-size: remCalc($h2Size);
      font-weight: remCalc($h2Weight);

      text-transform: uppercase;

      letter-spacing: remCalc(0.3);

      transition: all 0.2s ease;

      &:hover {
        color: $primaryColor;
        transform: translateY(remCalc(-2));
      }
    }
  }

  // Buy Btn
  .buy {
    margin-right: remCalc(30);
    background: $primaryColor;
    color: $white;
  }
}

// Main
main {
  max-width: remCalc(1200);
  margin: 0 auto;
  position: relative;
  top: remCalc(120);
}

//Tempedia
.tempedia {
  padding: remCalc(60) remCalc(20);

  // Title
  h1 {
    color: $white;
    text-align: center;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  }

  p {
    font-size: remCalc($pSize);
    color: $secondaryColor;
    font-weight: $h1Weight;
    text-align: center;
    margin-top: remCalc(10);
    text-transform: uppercase;
  }

  // Temtem infos
  .tempedia-container {
    position: relative;
    height: remCalc(800);
    background-color: $lightSecondary;
    margin-top: 2rem;

    p {
      text-transform: none;
      color: $bgPrimary;
    }

    .img-bottom {
      position: absolute;
      z-index: 3;
      bottom: remCalc(-30);
      right: remCalc(-10);
    }

    .tempedia-text {
      margin-top: 10rem;
      padding: 3rem;

      display: block;
      position: absolute;
      margin: 0 auto;
      top: 35%;
      right: 100%;
      width: 90%;

      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;

      &.active {
        opacity: 1;
        visibility: visible;
        transition: all 0.3s ease;
        right: 0;
      }
    }

    form {
      text-align: center;
      padding-top: 2rem;

      input {
        display: inline-block;
        margin: remCalc(10) auto;

        padding: 0.6rem 1rem;

        border: none;
        border-radius: 5px;

        font-family: $textFontFamily;
        font-weight: 700;
        color: $primaryColor;

        outline: none;

        border: solid 3px transparent;

        transition: all 0.2s ease;

        &:focus {
          border: solid 3px $secondaryColor;
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
          transform: translateY(-2px);
        }
      }

      label {
        display: block;

        font-family: $titleFontFamily;
        font-size: remCalc(24);
        font-weight: $h2Weight;
        text-transform: uppercase;

        color: $secondaryColor;
      }

      .btn-sm {
        background: $secondaryColor;
        outline: none;
        border: none;
        cursor: pointer;
        margin-left: remCalc(5);
      }
    }

    // Temtem Card
    .temtem-card {
      margin: remCalc(32) remCalc(48);

      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
      transform: translateX(-30rem);

      &.active {
        opacity: 1;
        visibility: visible;
        transition: all 0.3s ease;
        transform: translateX(0);
      }

      .temtem-portrait {
        background: url(../assets/Temtem_portrait_background.png) no-repeat 100% /
          100%;

        width: remCalc(250);
        height: remCalc(250);

        text-align: center;

        position: relative;

        &:before {
          position: absolute;
          width: 100%;
          height: 100%;

          content: "";
          background: url(../assets/Temtem_portrait_border.png) no-repeat;
          pointer-events: none;
          z-index: 5;
        }

        img {
          width: 250px;
          height: 250px;
          filter: drop-shadow(0 0 2px rgb(0, 0, 0));

          -webkit-clip-path: polygon(
            51% 5%,
            88% 28%,
            89% 73%,
            50% 92%,
            14% 72%,
            12% 29%
          );
          clip-path: polygon(
            51% 5%,
            88% 28%,
            89% 73%,
            50% 92%,
            14% 72%,
            12% 29%
          );
        }

        h2 {
          background: $bgPrimary;
          max-width: 100%;
          width: 250px;
          margin: 0 auto;
          padding: 1rem 0.3rem;
          color: $white;

          clip-path: polygon(
            0 3%,
            0 33%,
            1.5% 45%,
            2% 99%,
            53% 97%,
            100% 100%,
            99.5% 70%,
            98% 44%,
            99% 1%,
            65% 3%,
            36% 1%
          );

          -webkit-clip-path: polygon(
            0 3%,
            0 33%,
            1.5% 45%,
            2% 99%,
            53% 97%,
            100% 100%,
            99.5% 70%,
            98% 44%,
            99% 1%,
            65% 3%,
            36% 1%
          );
        }
      }
    }
  }

  // Clip Path
  clip-path: polygon(
    0 3%,
    0 33%,
    1.5% 45%,
    2% 99%,
    53% 97%,
    100% 100%,
    99.5% 70%,
    98% 44%,
    99% 1%,
    65% 3%,
    36% 1%
  );

  -webkit-clip-path: polygon(
    0 18%,
    0 33%,
    2.5% 45%,
    2% 99%,
    53% 97%,
    100% 100%,
    99.5% 70%,
    98% 44%,
    99% 1%,
    65% 3%,
    36% 1%
  );
}
